
.modal {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  height: 20rem;
  width: 40%;
  background: white;
  opacity: 1;
  z-index: 3;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--grey);
  color: black;
  z-index: 4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header h4 {
  margin: 0 2rem;
  color: white;
  text-transform: uppercase;
}

.modal-header #x {
  cursor: pointer;
}

.modal-form {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.modal-form form {
  display: flex;
  flex-direction: column;
}

.modal-content {
  padding: 1rem;
  color: black;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .modal {
    width: 90%;
  }
}